.nav-tabs-vertical {
    overflow: hidden;
    height: 300px;
    border-radius: 0;
    background: #fbfbfb
}

.nav-tabs-vertical .nav-tabs {
    width: 40%;
    float: left;
    border: none;
    border-radius: 0;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background: #f4f4f4
}

.nav-tabs-vertical .nav-tabs li {
    width: 100%;
    border: none !important
}

.nav-tabs-vertical .nav-tabs li a {
    border: none !important
}

.nav-tabs-vertical .nav-tabs li.active a,
.nav-tabs-vertical .nav-tabs li:hover a {
    background: #3c8dbc !important;
    color: #fff !important
}

.nav-tabs-vertical .tab-content {
    width: 60%;
    float: left;
    background: transparent;
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}

.nav-tabs-vertical .tab-content ul {
    list-style: none;
    padding: 0
}

.user-panel>.info {
    position: static
}
.nav-tabs-vertical .nav-tabs li a{
    display: block;
    padding: 5px 20px;
    color:#3D9AE2;
}
