/*  uploade file input  */
.file-upload {
    background-color: #ffffff;
    width: 400px;
    height: 200px;
  }
  .image-upload-wrap {
    width: 400px;
    height: 200px;
    margin-top: 20px;
  }
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  .file-upload-content {
    display: none;
    text-align: center;
    width: 400px;
    height: 200px;
  }
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .image-upload-wrap {
    border: 2px dashed #ebedf2;
    position: relative;
  }
  .file-upload-content {
    border: 2px dashed #ebedf2;
  }
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  .drag-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #595d6e;
    padding: 60px 0;
    font-size: 14px;
  }
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: 20px auto;
  }
  .remove-image {
    width: 200px;
    margin: 0;
    color: #595d6e;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
    background: transparent;
  }
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }